<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
      
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h1>Login</h1>  			
                <!-- <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>	   			 -->
            </div>   		
        </div> <!-- end row section-intro -->   		
    </div> <!-- end intro-wrap --> 

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <div class="row contact-content">

        <div class="col-seven tab-full animate-this">

            <h5>Login</h5>

            <form action="/login" method="POST">
                <div class="form-field">
                    <input type="email" name="email" placeholder="Email">
                </div>

                <div class="form-field">
                    <input type="password" name="password" placeholder="Password">
                </div>

                <div class="form-field">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>