<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
      
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <div class="row contact-content">

        <div class="col-seven tab-full animate-this">

            <h5>Login</h5>

            <form action="/login" method="POST">
                <div class="form-field">
                    <input type="email" name="email" placeholder="Email">
                </div>

                <div class="form-field">
                    <input type="password" name="password" placeholder="Password">
                </div>

                <div class="form-field">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>