<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h1>Movies</h1>  			
                <!-- <p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>	   			 -->
            </div>   		
        </div> <!-- end row section-intro -->   		

    </div> <!-- end intro-wrap --> 


    <ul>
    <% movies.forEach( el => { %>
            <li class='movieItem' data-id='<%=el._id%>'>
                <span class='<%= el.watched === true ? 'completed' : 'not'%>'><%= el.title %></span>
                <img class='poster' src='<%= el.image %>'/>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

<!--     <form action="/movies/addMovie" method='POST'>
        <input type="text" placeholder="Enter Movie Title" name='movieTitle'>
        <input type="submit">
    </form> -->
  <h2>Search for Movies to add to your watchlist</h2>
   <input id="movieSearch" type="text"/>
  <button id="searchMovies">Search for movies</button>
    <a href="/logout">Logout</a>
      <ul></ul>

    <script src="js/main.js"></script>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>